<div class="row">
    <div class="col-md-4">
        <h3>Cargar imagen</h3>
        <div class="well drop-zone" appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobre($event)" (mouseFuera)="estaFuera($event)" [ngClass]="{'file-over': estaSobreDrop}">
            <h4>Deje la imagen aqui</h4>
            <img src="../../../assets/img/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button class="btn btn-success" (click)="cargarImagen()" [disabled]="archivos.length === 0">Cargar</button>
        <button class="btn btn-danger" (click)="limpiar()">Limpiar</button>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos">
                    <td>{{archivo.nombreArchivo}} </td>
                    <td>{{archivo.archivo.size}} B</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>